# [Database Settings]
# 로컬 개발 시에는 DB_HOST=127.0.0.1, 도커 사용 시에는 DB_HOST=db 로 설정하세요.
DB_HOST=db
DB_USER=root
DB_PASSWORD=your_db_password_here
DB_NAME=seminar_db
DB_PORT=3306

# [Flask Settings] (필요시)
FLASK_APP=app
FLASK_DEBUG=1